*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}

header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: auto;
    /* background: linear-gradient(to right, rgb(140, 0, 255), blue); */
    background-color: rgb(16, 9, 56);
    color: white;
    padding: .7rem;
    margin: auto;
    overflow: auto;
 
}
header .logo{
    font-size: 23px;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    color: rgb(201, 201, 201);
    
}

header ul{
display: flex;

}

header ul li{
    inline-size: 6rem;
    list-style-type: none;
}

header ul li a{
    color: rgb(223, 217, 217);
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;

}
header ul li a:hover{
    color: white;
}

.input input{
    padding: .4rem;
    border-radius: .3rem;
    outline: none;
}

.input input:hover{
    background-color: rgb(236, 236, 236);
}
.input button{
    padding: .4rem;
    border-radius: .3rem;
    cursor: pointer;
}


#times{
  position: absolute;
  top: -3.4rem;
  right: -2rem;
  font-size: 20px;
  display:none
}

/* end of header */

/* start hero section */
.hero-section{
    background-color: rgb(88, 88, 226);
    width: 100%;
    height: 300px;
    z-index: 10;

}

.hero-content{
    position: absolute;
    right: 20%;
    top: 15%;
    margin: auto;
   
  
}

.hero-content h1{
    padding: 1rem;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    color: white;
    text-transform: uppercase;

}

.hero-content p{
    color: rgb(230, 230, 230);
    position: relative;
    font-weight: 400;
    font-family: 'Roboto', sans-serif;
    padding-left: 22%;
    
}

.hero-content input{
height: 3.5rem;
padding: .6rem;
margin-top: 2rem;
margin-left: .4rem;
border-radius: 48px;
width: 100%;
border: none;
outline: none;
opacity: 20%;
font-size: 16px;
font-family: 'Roboto', sans-serif;

}

::placeholder{
    color: rgb(0, 0, 0);
    font-size: 17px;
    font-weight: 400;
    font-family: 'Roboto', sans-serif;
    opacity: 100%;
   
    
}

#search{
    position: absolute;
    right: 2.5rem;
    font-size: 20px;
    top: 8.7rem;
    cursor: pointer;
}
.hr{

margin-top: 2rem;
opacity: 30%;



}


/* end of hero section */

/* start blog-post */

.post-content{
    max-width: 1200px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-bottom: 3rem;
    


}

.content-item{
    width: 100%;
   padding-top: 1.5rem;
    overflow-x: hidden;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
margin-left: 33%;
grid-gap: 1rem;

}


.content-item img{
width: 350px;
height: 200px;
object-fit: cover;

}

.content-item img:hover{
    filter: opacity(90%);
    cursor: pointer;
animation: 1s;
}

.content-item h3{
    font-weight: 500;
    font-family: 'Roboto', sans-serif;
    color: cornflowerblue;
    width: 350px;
    cursor: pointer;
    margin-top: .5rem;
}

.content-item h3:hover{
    color: rgb(95, 138, 218);;
}

#bars{
    display: none;
}
.content-item p{
    width: 350px;
    margin-top: .5rem;
}

/* end of blog-post */

/* start footer */

footer{
    background-color: rgb(6, 4, 43);
    max-width: 100%;
    height: 250px;

  
}

.footer-item ul{
    display: flex;
    align-items: center;
}
.footer-item ul li a{
color: rgb(235, 235, 235);
text-decoration: none;

}


.footer-item ul li a:hover{
    color: white;
}
.footer-item ul li{
    inline-size: 5rem;
    font-size: 17px;
    font-weight: 400;
    font-family: 'Roboto', sans-serif;
}

.footer-item{
    position: absolute;
    right: 0px;
    bottom: -37rem;
    margin-right: 6rem;

}

.copyright p{
    color: rgb(240, 240, 240);
    font-size: 16px;
    font-weight: 400;
    font-family: 'Roboto', sans-serif;
}
.copyright p a{
    color: rgb(240, 240, 240);
    font-size: 16px;
    font-weight: 400;
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
}

.copyright{
    position: absolute;
    bottom: -37rem;
    margin-left: 8rem;
}

.about-us img{
    width: 100px;
    height: 100px;
    margin-top: 1.8rem;
    margin-left: 8rem;
}

.about-us p{
    position: absolute;
    left: 15rem;
    bottom: -29rem;
    max-width: 500px;
    color: white;
    font-weight: 400;
    font-family: 'Roboto', sans-serif;

}


.social-icon ul li{
  
    font-size: 30px;
    inline-size: 3rem;
    list-style-type: none;
}

.social-icon ul li a{
    color: rgb(255, 238, 6);



}


.social-icon ul{
    display: inline-flex;
    position: absolute;
    right: 6rem;
    bottom: -29rem;
    cursor: pointer;
  
}

#facebook:hover{
    color: white;
    animation: 0.5s;
}

#instagram:hover{
    color: white;
    animation: 0.5s;
}

#twitter:hover{
    color: white;
    animation: 0.5s;
}

#pinterest:hover{
    color: white;
    animation: 0.5s;
}

.hr1{
margin-bottom: 1rem;
color: white;
opacity: 20%;


}


/* mobile-devices */

@media(max-width:360px){
  #orderList{
display: block;
position: absolute;
left: 0rem;
top: 3rem;
line-height: 4rem;
width: 0%;
height: 100%;
background-color: rgb(16, 9, 56);
z-index: 10;
transition: 0.2s;
}
#li{
opacity: 0%;
}



#times{
    display: none;


}


#bars{
    display: block;
 transition: 0.2s;
 position: relative;
 right: 1rem;

}



#orderList li{
    padding-left: 1rem;
}


  .input input{
      display: none;
  }
.input button{
    display: none;
}

#home, #about, #blog, #contact{
    display: none;

}


/* start hero section */
.hero-content h1{
    font-size: 22px;
    left: 2rem;
    position: relative;
    bottom: 2rem;
}

.hero-content p{
    position: relative;
    right: 1rem;
    bottom: 2rem;
}

.hero-content input{
    position: relative;
    left: 1.7rem;
    bottom: 2rem;
}

.hero-content #search{
    position: absolute;
    top: 10.5rem;
    right: -1rem;
  
}

::placeholder{
    font-size: 13px;
}

.post-content{
    right: 6.5rem;
    display: grid;
    grid-template-columns: repeat(1, 1fr);  

}
.content-item img{
    width: 450px;
    height: 200px;
    object-fit: cover;
    
    }
    .content-item{
        width: 92%;
        padding-top: 1.5rem;
        grid-gap: 0rem;
        position: relative;
        right: 7rem;
    
    }

.about-us img{
    width: 50px;
    height: 50px;
position: relative;
left: 1.8rem;
}

.copyright p{
position: relative;
top:90rem;
width: 257px;
right: 4rem;
}

.footer-item ul li{
    display: none;
}

.about-us p{
    display: none;
}

.social-icon ul li{
position: relative;
top:92.5rem;
left: 1.2rem;

}



}

/* End of mobile devices */